
.main {
  position: relative; 
}
.main h2{
    column-span:all;
    background-color: #fff;
  }
.div_head{
  font-size: 45px;
  font-family:Lobster Two;
  color:#00bfa5;
}
  	  	
 .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 0px;
    margin-bottom: 0px;
    background:#fff;
}   
h1, h2, .jumbotron {
    text-align: center;
    font-family: Didact Gothic;
    font-size: 40px;
}


.main {
  background: #fff;/*#f2f2e8;*/
 /* padding: 110px 50px 50px;*/
}

.bg{
  z-index: 1;
  position: absolute;
  margin-top:-10px; 
	}

.bgvid{ 
    position:relative;
    min-width: 100%;
    min-height:100%;
}
#vid{
  z-index:-100;
  }
.par-back{
	margin-top: -20px;
	background: url(../img/bshow.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 50em;
}
.par-back2{
  margin-top: -20px;
  background: url(../img/infams.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 50em;
}
.abt_us{
	background-size: inherit;
}
.z-depth-1,.card-panel,.card,.toast,.btn,.btn-large,.btn-floating,.dropdown-content,.collapsible,.side-nav{
  -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  -moz-box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.events{
	background-image: url(../img/111200.jpg);
  -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	padding-top: 0;
	text-align: center;

}