.down-arrow {
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 0px -20px #0C1F31, 0px 0px #C33329;
    color: rgba(0,0,0,0);
    text-align: center;
    -webkit-transform: scaleY(0.8);
    -moz-transform: scaleY(0.8);
    transform: scaleY(0.8);
}

.footer {
    box-sizing: border-box;
    padding-top: 0px;
    margin-bottom: 50px;
    height: 100px;
}

.elevator {
    text-align: center;
    cursor: pointer;
    width: 140px;
    margin: auto;
}

.elevator:hover {
    opacity: 0.7;
}

.elevator svg {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

